<div class="section">
    <div class="hero">
        <div class="hero-body">
            <div class="image">
                <%= image_tag "ex_role_call.jpg" %>
            </div>
        </div>
    </div>
    <div class="section">

        <h1 class="title has-text-centered">
            <a class="has-text-grey" name="contact">Contact Us </a>
        </h1>

        <div class="level">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">
                        Phone
                    </p>
                    <p class="title">
                        123-123-123
                    </p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">
                        Fax
                        </p>
                    <p class="title">
                        123-123-123
                    </p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">
                        Email
                    </p>
                    <p class="title">
                        enquiry@inland.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>