<div class="hero">
    <div class="hero-body">
        <div class="image">
            <%= image_tag "ex_role_call.jpg" %>
        </div>
    </div>
</div>

<div class="section">
    <h1 class="title has-text-centered">
        <a class="has-text-grey" name="fts">FTS</a>
    </h1>

    <div class="container">
        <div class="tile is-ancestor">
    
            <div class="tile is-vertical">
                <div class="tile">
                    <%= figure 'runbo.png' %>
                </div>
                <div class="tile">
                    <div class="box">
                        <div class="content">
                            <strong>Forward Thinking</strong>
                            <br>
                            <p>We are not content to do things as they have always been. No more paper ledgers, no more guess work.
                                Now is the time for data!</p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="tile is-vertical">
                <div class="tile">
                    <%= figure 'drone.jpg' %>
                </div>
                <div class="tile">
                    <div class="box">
                        <div class="content">
                            <strong>Paving the Way</strong>
                            <br>
                            <p>We have successfully rolled out a mobile and web application for monitoring our guards and supervisors,
                                dramitcally improving compliance and client confidence.</p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="tile is-vertical">
                <div class="tile">
                    <%= figure 'mobile_light_and_camera.jpg' %>
                </div>
                <div class="tile">
                    <div class="box">
                        <div class="content">
                            <strong>Setting the Pace</strong>
                            <br>
                            <p>We strive to be, and continually exceed the benchmark, and go above and boyond our clients expectations.</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    </div>
</div>