<nav class="navbar is-fixed-top is-size-5" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <%= image_tag "inland_logo.png" %> &nbsp; Inland Security Sdn. Bhd.
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="#mission">
          Mission
        </a>
        <a class="navbar-item" href="#who">
          Who are we?
        </a>
        <a class="navbar-item" href="#clients">
          Our Clients
        </a>
        <a class="navbar-item" href="#projects">
          Our Projects
        </a>
        <a class="navbar-item" href="#fts">
          FTS
        </a>
        <a class="navbar-item" href="#contact">
          Contact Us
        </a>
      </div>
    </div>
  </div>
  </div>
</nav>